<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="purple makebigger">
    <h1>Shequera's First Webpage</h1>
</div>
<div id="main_content">
    <p>
        <span class="purple makebigger">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Magna fermentum iaculis eu non
    diam phasellus vestibulum lorem. Mattis molestie a iaculis at erat. Ullamcorper velit sed ullamcorper morbi
    tincidunt ornare massa. Fermentum posuere urna nec tincidunt praesent. Proin sagittis nisl rhoncus mattis rhoncus
    urna. Sed odio morbi quis commodo odio aenean. Odio ut sem nulla pharetra. Mattis ullamcorper velit sed ullamcorper.
    Commodo viverra maecenas accumsan lacus vel facilisis volutpat est velit. Arcu dictum varius duis at consectetur
    lorem donec massa. Ipsum suspendisse ultrices gravida dictum fusce. Iaculis urna id volutpat lacus. Ac tincidunt
    vitae semper quis lectus nulla at volutpat diam. Facilisi cras fermentum odio eu feugiat. Pretium aenean pharetra
    magna ac placerat vestibulum lectus mauris ultrices. Consequat ac felis donec et odio pellentesque. Commodo sed
    egestas egestas fringilla phasellus faucibus scelerisque. </p>
<p>
    Lectus vestibulum mattis ullamcorper velit. Venenatis urna cursus eget nunc. Pellentesque elit ullamcorper dignissim
    cras tincidunt lobortis feugiat. A pellentesque sit amet porttitor eget. Ipsum dolor sit amet consectetur adipiscing
    elit duis tristique. Id donec ultrices tincidunt arcu non sodales neque sodales ut. Urna nunc id cursus metus
    aliquam eleifend mi. Mauris nunc congue nisi vitae suscipit tellus. Volutpat maecenas volutpat blandit aliquam etiam
    erat velit scelerisque in. Pretium lectus quam id leo in vitae turpis. Vivamus at augue eget arcu dictum varius duis
    at consectetur. Sed vulputate mi sit amet mauris commodo quis imperdiet. Bibendum enim facilisis gravida neque
    convallis a cras semper. Risus feugiat in ante metus dictum at tempor commodo. Dui accumsan sit amet nulla facilisi
    morbi tempus iaculis urna. Purus sit amet luctus venenatis lectus magna fringilla urna. Et malesuada fames ac
    turpis. </p>
<p>
    Tempor nec feugiat nisl pretium fusce. Mi proin sed libero enim. Fusce ut placerat orci nulla pellentesque
    dignissim. Dictum varius duis at consectetur. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis.
    Tellus mauris a diam maecenas sed enim ut. Cursus in hac habitasse platea dictumst quisque sagittis purus sit.
    Posuere urna nec tincidunt praesent semper. Eget nulla facilisi etiam dignissim diam quis. Aliquam sem et tortor
    consequat id porta nibh venenatis. Luctus venenatis lectus magna fringilla urna porttitor rhoncus. Odio pellentesque
    diam volutpat commodo sed egestas. </p>
<p>
    Leo duis ut diam quam nulla porttitor. Fringilla ut morbi tincidunt augue interdum. At in tellus integer feugiat
    scelerisque varius morbi enim. Curabitur gravida arcu ac tortor dignissim convallis aenean et. Praesent elementum
    facilisis leo vel fringilla est. Amet est placerat in egestas. Sem nulla pharetra diam sit. Fermentum dui faucibus
    in ornare quam viverra orci sagittis eu. Nam aliquam sem et tortor consequat id porta nibh venenatis. Commodo nulla
    facilisi nullam vehicula ipsum a arcu cursus. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum.
    </p>
<p>
    Fermentum et sollicitudin ac orci phasellus. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus.
    Turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet. Metus aliquam eleifend mi in. Tincidunt nunc pulvinar
    sapien et ligula. Facilisis mauris sit amet massa vitae tortor. Neque laoreet suspendisse interdum consectetur
    libero. Ipsum dolor sit amet consectetur. Aliquam vestibulum morbi blandit cursus risus. Venenatis tellus in metus
    vulputate eu scelerisque felis imperdiet. Arcu risus quis varius quam. Nam aliquam sem et tortor.
    </p>
</div>


</body>
</html>
